body {
  background-color: #432818;
  color: #FFE6A7;
  display: flex;
  height: 90vh;
  text-align: center;
  margin: 20px;
  font-family: "Cagliostro";
}

h1 {
  margin-bottom: 20px;
}

.container {
  background-color: #99582A;
  padding: 30px;
  width: 70vh;
  margin: 0 auto;
  border: 2px solid #BB9457;
}

#input-box {
  width: 70%;
  padding: 10px;
  color: #432818;
  font-weight: bold;
  border: 1px solid #FFE6A7;
  border-radius: 5px;
  font-family: "Cagliostro";
}

#add-btn {
  padding: 10px;
}

hr {
  background-color: #BB9457;
  height: 2px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  text-align: left; 
  background-color: #BB9457;
  width: 90%;
  border: 1px solid #FFE6A7;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  margin-top: 10px;
  list-style: none;  
  font-weight: bold;
  color: black;
}


.label {
  display: flex;
  align-items: flex-start;
}

.completed {
  text-decoration: line-through;
  color: gray;
  border: 1px solid gray;
  font-style: italic;
  font-weight: normal;
}

.edit-btn, .delete-btn {
  float: right;
  color:rgb(0, 0, 0);
  cursor: pointer;
  margin: 3px 5px;
  border: 1px;
  padding: 3px;
} 