body {
  background-color: #11302a;
  color: #FFE6A7;
  display: flex;
  height: 90vh;
  text-align: center;
  margin: 20px auto;
  font-family: "Cagliostro";
  justify-content: center;
}

h1 {
  margin-bottom: 20px;
}

.container {
  background-color: #036264;
  padding: 30px;
  width: 70vh;
  height: 85vh;
  border: 2px solid #BB9457;
  overflow-y: auto;
}

.input-container {
  display: flex;
  gap: 5px;
}

#input-box {
  flex: 1;
  width: 70%;
  padding: 10px;
  color: #432818;
  font-weight: bold;
  font-size: large;
  border: 2px solid #FFE6A7;
  border-radius: 5px;
  font-family: "Cagliostro";
  cursor: text;
}

#add-btn {
  padding: 13px;
  border: 2px solid #FFE6A7;
  border-radius: 5px;
  background-color: #036264;
  color: #FFE6A7;
  cursor: pointer;
}

hr {
  background-color: #BB9457;
  height: 2px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  text-align: left;
  background-color: #dac4d0;
  width: 95%;
  border: 1px solid #FFE6A7;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  margin-top: 10px;
  list-style: none;
  font-weight: bold;
  color: #11302a;
}

.label {
  display: flex;
  align-items: flex-start;
}

.task-span.completed {
  text-decoration: line-through;
  color: gray;
  font-style: italic;
  font-weight: normal;
}

.edit-btn,
.delete-btn {
  float: right;
  color: #11302a;
  cursor: pointer;
  margin: 0px 5px;
  border: 1px;
}

.edit-btn.completed,
.delete-btn.completed {
  color: gray;
  font-style: italic;
  font-weight: normal;
}